@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	min-height: 100vh; /* Ensure the body is at least the viewport height */
	margin: 0; /* Remove default margins */
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }
